<a href="https://colab.research.google.com/github/shakthi-stack/DataScience15cse431/blob/master/Assignment1(pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset 1

1.Import the data from here https://www.kaggle.com/wsj/college-salaries and use this data degrees-that-pay-back.csv

In [238]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [239]:

import pandas as pd

In [240]:
df=pd.read_csv("/content/drive/My Drive/Colab Notebooks/datasets_1189_2137_degrees-that-pay-back.csv")

2. DIsplay all columns

In [241]:
df

                     Undergraduate Major  ... Mid-Career 90th Percentile Salary
0                             Accounting  ...                       $152,000.00
1                  Aerospace Engineering  ...                       $161,000.00
2                            Agriculture  ...                       $150,000.00
3                           Anthropology  ...                       $138,000.00
4                           Architecture  ...                       $136,000.00
5                            Art History  ...                       $125,000.00
6                                Biology  ...                       $135,000.00
7                    Business Management  ...                       $147,000.00
8                   Chemical Engineering  ...                       $194,000.00
9                              Chemistry  ...                       $148,000.00
10                     Civil Engineering  ...                       $148,000.00
11                        Communications  ...                       $143,000.00
12                  Computer Engineering  ...                       $162,000.00
13                      Computer Science  ...                       $154,000.00
14                          Construction  ...                       $171,000.00
15                      Criminal Justice  ...                       $107,000.00
16                                 Drama  ...                       $153,000.00
17                             Economics  ...                       $210,000.00
18                             Education  ...                       $102,000.00
19                Electrical Engineering  ...                       $168,000.00
20                               English  ...                       $133,000.00
21                                  Film  ...                       $136,000.00
22                               Finance  ...                       $195,000.00
23                              Forestry  ...                       $111,000.00
24                             Geography  ...                       $132,000.00
25                               Geology  ...                       $156,000.00
26                        Graphic Design  ...                       $112,000.00
27            Health Care Administration  ...                       $101,000.00
28                               History  ...                       $149,000.00
29                 Hospitality & Tourism  ...                       $124,000.00
30                Industrial Engineering  ...                       $173,000.00
31           Information Technology (IT)  ...                       $129,000.00
32                       Interior Design  ...                       $107,000.00
33               International Relations  ...                       $157,000.00
34                            Journalism  ...                       $145,000.00
35  Management Information Systems (MIS)  ...                       $146,000.00
36                             Marketing  ...                       $175,000.00
37                                  Math  ...                       $183,000.00
38                Mechanical Engineering  ...                       $163,000.00
39                                 Music  ...                       $134,000.00
40                               Nursing  ...                        $98,300.00
41                             Nutrition  ...                        $99,200.00
42                            Philosophy  ...                       $168,000.00
43                   Physician Assistant  ...                       $124,000.00
44                               Physics  ...                       $178,000.00
45                     Political Science  ...                       $168,000.00
46                            Psychology  ...                       $127,000.00
47                              Religion  ...                        $96,400.00
48                             Sociology  ...                       $118,000.00
49                               Spanish  ...                        $96,400.00

[50 rows x 8 columns]

3.	Display the size of the dataset

In [242]:
col,row=df.shape
print(col,"x",row)

50 x 8

In [243]:
df.size

400

4.Rename the columns like this ['major','Start Med Sal', 'Mid Career Med Sal', 'Start-Mid Career Sal Change', '10%tile Sal','25%tile Sal','75%tile Sal','90%tileSal']

In [244]:
df.rename(columns={
    'Undergraduate Major':'major',
    'Starting Median Salary':'Start Med Sal',
    'Mid-Career Median Salary':'Mid Career Med Sal',
    'Percent change from Starting to Mid-Career Salary':'Start-Mid Career Sal Change',
    'Mid-Career 10th Percentile Salary':'10%tile Sal',
    'Mid-Career 25th Percentile Salary':'25%tile Sal',
    'Mid-Career 75th Percentile Salary':'75%tile Sal',
    'Mid-Career 90th Percentile Salary':'90%tileSal'
    
},inplace=True)

In [245]:
df

                                   major  ...   90%tileSal
0                             Accounting  ...  $152,000.00
1                  Aerospace Engineering  ...  $161,000.00
2                            Agriculture  ...  $150,000.00
3                           Anthropology  ...  $138,000.00
4                           Architecture  ...  $136,000.00
5                            Art History  ...  $125,000.00
6                                Biology  ...  $135,000.00
7                    Business Management  ...  $147,000.00
8                   Chemical Engineering  ...  $194,000.00
9                              Chemistry  ...  $148,000.00
10                     Civil Engineering  ...  $148,000.00
11                        Communications  ...  $143,000.00
12                  Computer Engineering  ...  $162,000.00
13                      Computer Science  ...  $154,000.00
14                          Construction  ...  $171,000.00
15                      Criminal Justice  ...  $107,000.00
16                                 Drama  ...  $153,000.00
17                             Economics  ...  $210,000.00
18                             Education  ...  $102,000.00
19                Electrical Engineering  ...  $168,000.00
20                               English  ...  $133,000.00
21                                  Film  ...  $136,000.00
22                               Finance  ...  $195,000.00
23                              Forestry  ...  $111,000.00
24                             Geography  ...  $132,000.00
25                               Geology  ...  $156,000.00
26                        Graphic Design  ...  $112,000.00
27            Health Care Administration  ...  $101,000.00
28                               History  ...  $149,000.00
29                 Hospitality & Tourism  ...  $124,000.00
30                Industrial Engineering  ...  $173,000.00
31           Information Technology (IT)  ...  $129,000.00
32                       Interior Design  ...  $107,000.00
33               International Relations  ...  $157,000.00
34                            Journalism  ...  $145,000.00
35  Management Information Systems (MIS)  ...  $146,000.00
36                             Marketing  ...  $175,000.00
37                                  Math  ...  $183,000.00
38                Mechanical Engineering  ...  $163,000.00
39                                 Music  ...  $134,000.00
40                               Nursing  ...   $98,300.00
41                             Nutrition  ...   $99,200.00
42                            Philosophy  ...  $168,000.00
43                   Physician Assistant  ...  $124,000.00
44                               Physics  ...  $178,000.00
45                     Political Science  ...  $168,000.00
46                            Psychology  ...  $127,000.00
47                              Religion  ...   $96,400.00
48                             Sociology  ...  $118,000.00
49                               Spanish  ...   $96,400.00

[50 rows x 8 columns]

5.Display the datatypes of all columns

In [246]:
df.dtypes

major                           object
Start Med Sal                   object
Mid Career Med Sal              object
Start-Mid Career Sal Change    float64
10%tile Sal                     object
25%tile Sal                     object
75%tile Sal                     object
90%tileSal                      object
dtype: object

6.Except under graduate major convert all columns to float data type

In [247]:
def converter(sal):
  s1=sal.split("$")
  s2=s1[1]
  s3=s2.split(",")
  s="".join(s3)
  s=float(s)
  return s

In [248]:
df["Start Med Sal"]=df["Start Med Sal"].apply(converter)

In [249]:
df["Mid Career Med Sal"]=df["Mid Career Med Sal"].apply(converter)

In [250]:
df["10%tile Sal"]=df["10%tile Sal"].apply(converter)

In [251]:
df["25%tile Sal"]=df["25%tile Sal"].apply(converter)

In [252]:
df["75%tile Sal"]=df["75%tile Sal"].apply(converter)

In [253]:
df["90%tileSal"]=df["90%tileSal"].apply(converter)

In [254]:
df.dtypes

major                           object
Start Med Sal                  float64
Mid Career Med Sal             float64
Start-Mid Career Sal Change    float64
10%tile Sal                    float64
25%tile Sal                    float64
75%tile Sal                    float64
90%tileSal                     float64
dtype: object

7.Display all majors where the Start-Mid Career Sal Change is greater than 70

In [255]:
df1=df.loc[(df["Start-Mid Career Sal Change"]>70)]

In [256]:
df1["major"]

1       Aerospace Engineering
4                Architecture
5                 Art History
9                   Chemistry
11             Communications
12       Computer Engineering
13           Computer Science
17                  Economics
20                    English
21                       Film
22                    Finance
25                    Geology
28                    History
33    International Relations
34                 Journalism
36                  Marketing
37                       Math
42                 Philosophy
44                    Physics
45          Political Science
Name: major, dtype: object

8.Display the Minimum  start med salary where the difference between 90%tileSal and  '10%tile Sal' is greater than 40,000.

In [257]:
df2=df.loc[((df["90%tileSal"] - df["10%tile Sal"])>40000)]
min(df2["Start Med Sal"])

34000.0

# Dataset 2

1.Import salary by college type

In [258]:
df=pd.read_csv("/content/drive/My Drive/Colab Notebooks/datasets_1189_2137_salaries-by-college-type.csv")
df

                                      School Name  ... Mid-Career 90th Percentile Salary
0     Massachusetts Institute of Technology (MIT)  ...                       $220,000.00
1        California Institute of Technology (CIT)  ...                               NaN
2                             Harvey Mudd College  ...                               NaN
3    Polytechnic University of New York, Brooklyn  ...                       $190,000.00
4                                    Cooper Union  ...                               NaN
..                                            ...  ...                               ...
264                  Austin Peay State University  ...                        $96,200.00
265                    Pittsburg State University  ...                       $117,000.00
266                      Southern Utah University  ...                       $116,000.00
267           Montana State University - Billings  ...                        $98,900.00
268                  Black Hills State University  ...                        $87,600.00

[269 rows x 8 columns]

2.Change salary columns to float
3.Fill na values

In [259]:
def converter(sal):
  s1=sal.split("$")
  s2=s1[1]
  s3=s2.split(",")
  s="".join(s3)
  s=float(s)
  return s

In [260]:
df.dtypes

School Name                          object
School Type                          object
Starting Median Salary               object
Mid-Career Median Salary             object
Mid-Career 10th Percentile Salary    object
Mid-Career 25th Percentile Salary    object
Mid-Career 75th Percentile Salary    object
Mid-Career 90th Percentile Salary    object
dtype: object

In [261]:
df.isnull().any()

School Name                          False
School Type                          False
Starting Median Salary               False
Mid-Career Median Salary             False
Mid-Career 10th Percentile Salary     True
Mid-Career 25th Percentile Salary    False
Mid-Career 75th Percentile Salary    False
Mid-Career 90th Percentile Salary     True
dtype: bool

In [262]:
df["Mid-Career 10th Percentile Salary"].fillna(df["Starting Median Salary"],inplace=True)

In [263]:
df["Mid-Career 90th Percentile Salary"].fillna(df["Mid-Career 75th Percentile Salary"],inplace=True)

In [264]:
df["Starting Median Salary"]=df["Starting Median Salary"].apply(converter)

In [265]:
df["Mid-Career Median Salary"]=df["Mid-Career Median Salary"].apply(converter)

In [266]:
df["Mid-Career 10th Percentile Salary"]=df["Mid-Career 10th Percentile Salary"].apply(converter)

In [267]:
df["Mid-Career 25th Percentile Salary"]=df["Mid-Career 25th Percentile Salary"].apply(converter)

In [268]:
df["Mid-Career 75th Percentile Salary"]=df["Mid-Career 75th Percentile Salary"].apply(converter)

In [269]:
df["Mid-Career 90th Percentile Salary"]=df["Mid-Career 90th Percentile Salary"].apply(converter)

In [270]:
df.dtypes

School Name                           object
School Type                           object
Starting Median Salary               float64
Mid-Career Median Salary             float64
Mid-Career 10th Percentile Salary    float64
Mid-Career 25th Percentile Salary    float64
Mid-Career 75th Percentile Salary    float64
Mid-Career 90th Percentile Salary    float64
dtype: object

4.Average starting median salary of Liberal arts

In [271]:
gp=df.groupby("School Type")
gp

In [272]:
gp.get_group("Liberal Arts").mean()

Starting Median Salary                45746.808511
Mid-Career Median Salary              89378.723404
Mid-Career 10th Percentile Salary     46136.170213
Mid-Career 25th Percentile Salary     61936.170213
Mid-Career 75th Percentile Salary    131076.595745
Mid-Career 90th Percentile Salary    149936.170213
dtype: float64

5.Which college is giving highest  Mid-Career 25th Percentile Salary for engineering
6.Display the highest and lowest two salaries of party and ivy league
7.Which major is giving highest starting median salary

In [273]:
df1=gp.max()
df2=gp.min()

In [274]:
df1

                                        School Name  ...  Mid-Career 90th Percentile Salary
School Type                                          ...
Engineering   Worcester Polytechnic Institute (WPI)  ...                           220000.0
Ivy League                          Yale University  ...                           326000.0
Liberal Arts                  Wittenberg University  ...                           265000.0
Party                West Virginia University (WVU)  ...                           209000.0
State                 Western Washington University  ...                           215000.0

[5 rows x 7 columns]

In [275]:
df2

                                           School Name  ...  Mid-Career 90th Percentile Salary
School Type                                             ...
Engineering   California Institute of Technology (CIT)  ...                           121000.0
Ivy League                            Brown University  ...                           210000.0
Liberal Arts                           Amherst College  ...                            93100.0
Party                   Arizona State University (ASU)  ...                           123000.0
State                     Appalachian State University  ...                            87600.0

[5 rows x 7 columns]

8.Display all schools where the engineering staring median salary is greater than65000

In [276]:
df3=gp.get_group("Engineering")

In [277]:
df3.loc[(df3["Starting Median Salary"]>65000)]["School Name"]

0    Massachusetts Institute of Technology (MIT)
1       California Institute of Technology (CIT)
2                            Harvey Mudd College
Name: School Name, dtype: object