<a href="https://colab.research.google.com/github/shakthi-stack/DataScience15cse431/blob/master/pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic commands in pandas package

In [4]:
from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [8]:
import pandas as pd
df=pd.read_csv("/content/drive/My Drive/Colab Notebooks/weather_data.csv")
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [9]:
import pandas as pd
weather_data_1={"day" :["mon","tue"],
               "date" :["1,3,20","2,3,20"],
               "temp" :[23.5,32.4]}
df = pd.DataFrame(weather_data_1)
df

   day    date  temp
0  mon  1,3,20  23.5
1  tue  2,3,20  32.4

In [11]:
import pandas as pd
df=pd.read_csv("/content/drive/My Drive/Colab Notebooks/weather_data.csv")#used to read csv file
df.head() #displays the first 5 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [15]:
import pandas as pd
df=pd.read_csv("/content/drive/My Drive/Colab Notebooks/weather_data.csv")#used to read csv file
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [20]:
import pandas as pd
df=pd.read_csv("/content/drive/My Drive/Colab Notebooks/weather_data.csv")#used to read csv file
df.tail()#diasplays last 5 rows

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [21]:
df.tail(2)#diasplays last 2 rows

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [22]:
df.sample(2)#random display

        day  temperature  windspeed event
3  1/4/2017           24          7  Snow
0  1/1/2017           32          6  Rain

In [23]:
rows,columns=df.shape#gives the number of rows and columns
print(rows,columns)

6 4

In [24]:
df.dtypes#gives datatypes of elements of df

day            object
temperature     int64
windspeed       int64
event          object
dtype: object

In [25]:
df.set_index("day")#sets the parameter gives as the index column
#Temperory change

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [26]:
df#no change in actual data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [27]:
df=df.set_index("day")#sets day as permanent index
#we can also use df.set_index("day",inplace=True)
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [28]:
df.reset_index(inplace=True)#resets the index  
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [29]:
df["temperature"]#gives the temperature coulumn alone

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [30]:
#or we can use
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [31]:
df[["temperature","event"]]#access multiple columns

   temperature  event
0           32   Rain
1           35  Sunny
2           28   Snow
3           24   Snow
4           32   Rain
5           31  Sunny

In [32]:
df.info()#Gives all the info about the created dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes

In [33]:
#changing column name (temporary)
df.rename(columns={
    "event":"Event",
    "temperature":"Temperature"
})

        day  Temperature  windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [34]:
df.describe()#gives all the statistical info all numerical columns

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [35]:
#force describe() to include non numerical columns
df.describe(include="all")

             day  temperature  windspeed  event
count          6     6.000000   6.000000      6
unique         6          NaN        NaN      3
top     1/3/2017          NaN        NaN  Sunny
freq           1          NaN        NaN      2
mean         NaN    30.333333   4.666667    NaN
std          NaN     3.829708   2.338090    NaN
min          NaN    24.000000   2.000000    NaN
25%          NaN    28.750000   2.500000    NaN
50%          NaN    31.500000   5.000000    NaN
75%          NaN    32.000000   6.750000    NaN
max          NaN    35.000000   7.000000    NaN

In [36]:
df.drop(['event'],axis=1)#removes a column temporarily

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           35          7
2  1/3/2017           28          2
3  1/4/2017           24          7
4  1/5/2017           32          4
5  1/6/2017           31          2

In [37]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [38]:
df.drop(['event'],axis=1,inplace=True)
#permanent deletion of column

In [39]:
df

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           35          7
2  1/3/2017           28          2
3  1/4/2017           24          7
4  1/5/2017           32          4
5  1/6/2017           31          2

In [40]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/pplonski/datasets-for-start/master/credit/data.csv")
df.dtypes

Id                                        int64
SeriousDlqin2yrs                          int64
RevolvingUtilizationOfUnsecuredLines    float64
age                                       int64
NumberOfTime30-59DaysPastDueNotWorse      int64
DebtRatio                               float64
MonthlyIncome                           float64
NumberOfOpenCreditLinesAndLoans           int64
NumberOfTimes90DaysLate                   int64
NumberRealEstateLoansOrLines              int64
NumberOfTime60-89DaysPastDueNotWorse      int64
NumberOfDependents                      float64
dtype: object

In [41]:
rows,columns=df.shape#gives the number of rows and columns
print(rows,columns)

150000 12

In [42]:
df.describe()

                  Id  ...  NumberOfDependents
count  150000.000000  ...       146076.000000
mean    75000.500000  ...            0.757222
std     43301.414527  ...            1.115086
min         1.000000  ...            0.000000
25%     37500.750000  ...            0.000000
50%     75000.500000  ...            0.000000
75%    112500.250000  ...            1.000000
max    150000.000000  ...           20.000000

[8 rows x 12 columns]

In [43]:
df.set_index("Id")

        SeriousDlqin2yrs  ...  NumberOfDependents
Id                        ...
1                      1  ...                 2.0
2                      0  ...                 1.0
3                      0  ...                 0.0
4                      0  ...                 0.0
5                      0  ...                 0.0
...                  ...  ...                 ...
149996                 0  ...                 0.0
149997                 0  ...                 2.0
149998                 0  ...                 0.0
149999                 0  ...                 0.0
150000                 0  ...                 0.0

[150000 rows x 11 columns]

In [44]:
df.rename(columns={
    "NumberOfTime30-59DaysPastDueNotWorse":"Num30-59DaysPastDue",
    "RevolvingUtilizationOfUnsecuredLines":"RevolvingUtilOfUnsecLines"
    
})

            Id  ...  NumberOfDependents
0            1  ...                 2.0
1            2  ...                 1.0
2            3  ...                 0.0
3            4  ...                 0.0
4            5  ...                 0.0
...        ...  ...                 ...
149995  149996  ...                 0.0
149996  149997  ...                 2.0
149997  149998  ...                 0.0
149998  149999  ...                 0.0
149999  150000  ...                 0.0

[150000 rows x 12 columns]